---
layout: "layout"
title: "Curriculum Vitae"
---

<h1 class = "head"><%= data.vitae.header.title %></h1>
<iframe class="image" src="<%= data.vitae.header.url %>" width="100%" height="800px" frameborder="0" allowfullscreen></iframe>